@media all and (max-width: 768px) {

    #container, main {
        width: 100%;
        margin: 0px;
        padding: 0px;
        margin-bottom: 5%;
    }

    #bloc1 {
        margin: 4%;
    }

    /* RESPONSIVE HEADER */

    #logo {
        padding: 0%;
        margin: 0;

    }

    header nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;

    }

    header nav ul {
        display: flex;
        list-style-type: none;
        padding-inline-start: 0%;
        width: 100%;

    }

    header nav li {
        margin: 0;
        width: 50%;
        text-align: center;
        padding: 20px 0;
        border-bottom: 3px solid #F2F2F2;
    }

    header nav ul a {

        text-decoration: none;
        border-top: none;
        box-sizing: border-box;
    }

    header nav li:hover {
        color: #0065FC;
        border-top: none;
        border-bottom: 3px solid #0065FC;
        padding: 20px 0;
    }

    header nav li a:hover {
        border-top: none;
    }

    /* RESPONSIVE FORMULAIRE */
    #texte_formulaire {
        margin-top: 10%;
        margin-bottom: 10%;
        font-size: 90%;
    }

    #formulaire {
        width: 100%;
    }

    .cacher {
        display: inline;
    }

    button:after {
        display: none;
    }

    #formulaire button {
        border-radius: 15px;
        padding: 16px 17px 16px 17px;
    }

    #position {
        padding: 16px 20px 16px 20px;
    }

    .mobile {
        margin-right: 90%;
    }

    /*RESPONSIVE BLOC 2*/

    #bloc2 {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 0;

    }

    #populaires {
        width: auto;
        border-radius: 0px;
        margin: 0;
        padding: 4%;
    }

    #hebergement {
        width: auto;
        background: #ffffff;
        padding: 4%;
    }

    #cartes_hebergements {
        width: 100%;

    }

    .card {
        flex: 0 0 100%;
    }

    .card2 a {
        width: 100%;
        margin-bottom: 5%;
    }

    /*RESPONSIVE BLOC 3*/
    #bloc3 {
        margin-top: 0;
        padding: 4%;
    }

    #activites {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .card3-image {
        height: 25vh;
    }

    #bloc-gauche, #bloc-droite {
        width: 100%;
        margin-bottom: 5%;
        align-items: center;
    }

    .card-activites {
        margin-bottom: 5%;
    }

    .card-activites:nth-child(n) {
        width: 100%;
        margin-right: 0%;
    }

    /*RESPONSIVE FOOTER*/
    #bas_page {
        display: flex;
        flex-direction: column;
        margin-bottom: 5vh;

    }

    footer nav {
        width: 93%;
    }
}