/* Polices & styles*/
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway-v26-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/raleway-v26-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v26-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v26-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v26-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v26-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
            }

h1, h2, p, ul, li {
    
    color: rgb(0, 0, 0);}

/*media queries*/
/* Sur les tablettes */
@media all and (min-width: 768px) and (max-width: 992px) 
{

}              

/*GENERAL*/

    body {
            margin: 0;
            font-family: 'Raleway', 'Arial', sans-serif;
            display: flex;
            justify-content: center;
        }

    p   {
        font-size: 13px;
        }
        
    #container {
            width: 100%;
            max-width: 1200px;
        }
/*HEADER*/
    #logo{
            height: 48px;
            margin: 16px 24px 0 16px;
        }

    header nav{
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            flex-wrap: wrap;         
            }

    header nav ul
        {
            display: flex;
            list-style-type: none;
            align-items: stretch;
            
        }

    header nav li 
        {
            margin-top: 16px ;
            padding-inline-start: 0%;
        }

    header nav ul a
        {
            font-size: 13px;
            color: #181818;
            padding: 32px;
            text-decoration: none;
            border-top: 3px solid #F2F2F2;
        }
        
    header nav ul a:hover
        {
            color: #0065FC;
            border-top: 3px solid #0065FC;
        }
/* RESPOnSIVE HEADER */
    @media screen and (max-width: 768px)
    {
        header nav{
                display: flex;
                flex-direction: column;
                align-items: center;
                        
                }

        header nav ul
        {
            display: flex;
            list-style-type: none;
            padding-inline-start: 0%;
            justify-content: space-between;
            /* width: 100%;*/
            
        }

        header nav li 
        {
            margin: 0;
            
            
        }

        header nav ul a
        {
            font-size: 15px;
            color: #181818;
            padding: 20px 60px 10px 60px;
            text-decoration: none;
            border-bottom: 3px solid #F2F2F2;
        }
        
        header nav ul a:hover
        {
            color: #0065FC;
            border-top: none;
            border-bottom: 3px solid #0065FC;
        }
    } 
/*MAIN*/
/* SECTION BLOC 1 */
    #bloc1
        {
            margin: 30px;
        }

    #formulaire{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: no-wrap;  
            height : 55px;
            margin : 20px 0px 10px 0;
            -webkit-box-sizing: border-box; /* Pour les anciennes versions des navigateurs WebKit */
            -moz-box-sizing: border-box; /* Pour tous les navigateurs Gecko */
            box-sizing: border-box;
                }
    #position{ 
        top: 2px;
        position: relative;
        padding : 15px;
        border-radius: 15px 0 0 15px ;
        background-color: #F2F2F2;
            }

    input[type="search"]{
            position     : relative;
            padding      : 15px;
            border       : 1px solid #F2F2F2;
            
                        }
    ::placeholder {
            color: rgb(0, 0, 0);
            font         : bold ;
                            }
    button {
            position     : absolute;
            padding      : 15px;
            font         : bold 1em ;
            color: #F2F2F2;
            border       : 1px solid #F2F2F2;
            border-radius: 0 15px 15px 0 ;
            background   :#0065FC;
            }

    button:after {
                content: " Rechercher";
            }
    button:hover,button:focus {
                                outline   : none;
                                background: #000;
                                color   : #FFF;
                            }
    .cacher{
                                display: none;
                        
                            }
    /* formulaire de recherche sur les téléphones */
    @media all and (max-width: 768px)
    {
        .cacher{
            display: inline;

        }
        button:after {
            display: none;
        }
    } 





/*FILTRES*/

#filtres{
        display : flex;
        flex-direction: row;
        max-width: 900px;
        flex-wrap: wrap;
        }
.boutons{
            display : flex;
            justify-content: flex-start;
            border       : 2px solid #f2f2f2;
            border-radius: 30px 30px 30px 30px ;
            height: 50px;
            margin-left: 10px;
            margin-right: 10px;
            padding-right: 20px;
            box-sizing: content-box;
            
            }
    .moncercle{
                position:relative;
                background:#deebff;
                border-radius:50%;
                width:50px;
                height:50px;   
              }
    #filtres .boutons i{
    color: #0065FC;
    position: absolute;
    margin: 25px 0px 0px 12px;
    
    }


#filtres input{
    font-size: 15px;
    font-weight: bold;
    background-color: #FFF;
    border: none;
    padding-left: 10px;
    overflow: hidden;
    
        }
 .info{
            display : flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            
            
            }
.moncerclegris{
    position:relative;
    border       : 2px solid #eeeeee;
    border-radius:50%;
    width:20px;
    height:20px;  
    margin: 10px;
   }
.moncerclegris i{
    color: #0065FC;
    position: absolute;
    margin-left: 6px;
      
   }
/* BLOC 2 */  
#bloc2{
            margin: 30px;
            display: flex; 
            flex-direction: row; 
            flex-wrap: wrap;
        }

.fondgris{
    background: #f2f2f2;
    margin-right: 20px;
    margin-top: 20px;
    padding: 2%;
    border-radius: 20px;
}
#hebergement{
    flex: 0 0 60%;
    
}
#cartes_hebergements{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#cartes_populaires{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*CARTE HEBERGEMENTS*/
   .card {
    width: 200px; 
    margin-right: 10px ; 
    margin-bottom: 20px ; 
    background-color: white; 
    box-shadow: 0px 5px 20px #999; 
    border-radius: 20px;
  }
  .card a { 
    color: #333; 
    text-decoration: none;
  }
  .card:hover .card-image img { 
    width: 160%;
    filter: grayscale(0);
  }

  .card-image {
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    padding: 20px;
  }
  .card-image img {
    width: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: grayscale(1);
      /*7 - Transition */
    transition-property: filter width; 
    transition-duration: .3s;
    transition-timing-function: ease;
    padding: 20px;
  }
.card-body {
    text-align:left;  /*1*/
    padding: 15px 20px; /*2*/
    box-sizing: border-box; /*3*/
    }
.card-nom {
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        color: #000;
        font-size: small;
      }
      
.card-prix, .card-note {
         font-family: 'Raleway', serif;
      }
.card-note {
    color: #0065FC;     
      }
 /* ASIDE*/
 .titre-populaire{
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    }  

.card2 a{ 
    width: 300px; 
    background-color: white; 
    box-shadow: 0px 5px 20px #999; 
    border-radius: 20px;
    color: #333; 
    text-decoration: none;
    margin-bottom: 10px;
    display: flex;

}
.card2-image {
    flex: 0 0 50%;
    overflow: hidden;
    border-radius: 20px 0px 0px 20px;
  }
  .card2-image img {
    display: block;
    width: 150%;
    filter: grayscale(1);
    transition: 0.3s;
  }
  .card2-body {
    flex: 1;
    padding: 5%;
    }
 .card2:hover .card2-image img { 
    filter: grayscale(0);
      }
 