/*POLICES*/

h1, h2, h3, h4, p, ul, li, input {
    color: rgb(0, 0, 0);
    /* font-size: clamp(var(--min), var(--val), var(--max)); */
}

/* h1 {
    --min: 20px;
    --val: 5vw;
    --max: 24px;
    font-weight: 600;
}

h2 {
    --min: 15px;
    --val: 4.7vw;
    --max: 20px;
}

h3 {
    --min: 14px;
    --val: 4.5vw;
    --max: 18px;
}
h4 {
    --min: 10px;
    --val: 4vw;
    --max: 14px;
    margin: 0;
}

p {
    --min: 10px;
    --val: 4vw;
    --max: 14px;
}
.card-nom p {
    --min: 10px;
    --val: 4.1vw;
    --max: 13px;
}

input {
    font-weight: 550;
    --min: 15px;
    --val: 4.7vw;
    --max: 20px;
}

ul {
    --min: 10px;
    --val: 5vw;
    --max: 16px;
}  */

/*BLOCS GENERAUX*/

body {
    margin-top: 0px;
    font-family: 'Raleway', 'Arial', sans-serif;
    margin: 0 0 0 0;
    min-width: 320px;
}

#container {
    width: 93%;
    margin: 0 auto 0 auto;
}

/*HEADER*/

#logo {
    height: 30px;
    padding-left: 2vh;
    margin-top: 5.5vh;
}

header {
    margin-bottom: 3%;
}

header nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding-inline-start: 0%;
    margin: 11px;
}

header nav li {
    margin-top: 5vh;
}

header nav ul a {
    color: #181818;
    padding: 6vh 1.75vw 0;
    text-decoration: none;
}

header nav ul a:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

/*MAIN*/
/* SECTION BLOC 1 */

#formulaire {
    display: flex;
    align-items: center;
    align-content: center;
    height: 55px;
    margin: 2% 0;
}

#texte_formulaire p, #texte_formulaire h1 {
    margin: 11px 0px;
}

.mobile {
    margin-right: 2.25%;
}

#position {
    position: relative;
    padding: 16px 20px 16px 20px;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
    border-bottom: none;
    justify-self: center;

}

input[type="search"] {
    position: relative;
    padding: 15px 0px 15px 15px;
    border-top: 1px solid #F2F2F2;
    border-right: 1px transparent solid;
    border-bottom: 1px solid #F2F2F2;
    border-left: 1px transparent solid;
    justify-self: center;
}

input[type="search"]::placeholder {
    color: rgb(0, 0, 0);
    font-weight: 600;
}

#formulaire button {
    position: absolute;
    padding: 16px 15px 16px 15px;
    color: #F2F2F2;
    border: none;
    border-radius: 0 15px 15px 0;
    background: #0065FC;
    justify-self: center;
}

#formulaire button:after {
    content: " Rechercher";
    font-weight: 550;
}

#formulaire button:hover, #formulaire button:focus {
    outline: none;
    background-color: #4c4c4c;
    color: #FFF;
}

.cacher {
    display: none;
}

/*FILTRES*/

#filtres_boutons {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.boutons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #dad8d8;
    border-left: none;
    border-radius: 30px 30px 30px 30px;
    height: 46px;
    margin-left: 0px;
    margin-right: 2.25%;
    margin-top: 5px;
    padding-right: 20px;
    padding-left: 0px;
    box-sizing: content-box;
    background-color: #fff;
    font-weight: 600;
}

.boutons:hover {
    border: 2px solid #deebff;
    background-color: #4c4c4c;
    color: #FFF;
}

#filtres_boutons button i {
    display: flex;
    /* position: relative; */
    background: #deebff;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    
    justify-content: center;
    align-items: center;
}

#filtres .boutons i {
    color: #0065FC;
    /* position: absolute; */
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

/* #filtres input {
    font-weight: bold;
    background-color: #FFF;
    border: none;
    padding-left: 10px;
    overflow: hidden;
} */

.info {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2%;
}

.moncerclegris {
    border: 2px solid #eeeeee;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 4px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moncerclegris i {
    color: #0065FC;
}

/* BLOC 2 */
#bloc2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2.25%;
    text-decoration: none;
    /* gap: 2.25%; */
}

#hebergement {
    width: 59%;
    background: #f2f2f2;
    padding: 2.5% 2.5% 1.5%;
    border-radius: 20px;
}

/*CARTE HEBERGEMENTS*/

#cartes_hebergements {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.card {
    flex: 0 0 30%;
    background-color: white;
    box-shadow: 2px 2px 20px rgb(226, 223, 223);
    border-radius: 20px;
    min-height: 230px;
    margin-bottom: 4%;
}

.card a {
    color: #333;
    text-decoration: none;
    font-size: 90%;
}

/* .card p {
    font-size: 95%; 
    margin: 6% 0; 
} */

.card-image {
    overflow: hidden;
    height: 55%;
    position: relative;
    border-radius: 20px 20px 0px 0px;
    border: 5px solid #FFF;
    box-sizing: border-box;
}

.card img {
    height: auto;
    filter: grayscale(0);
    min-height: 100%;
    max-width: 120%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.object-fit-norm {
    object-fit: cover;
}

.card-body {
    display: flex;
    padding: 2% 4% 2%;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 100%;
}


.card:hover .card-image img {
    filter: grayscale(1);
}

.card-note {
    color: #0065FC;
}

#hebergement h4 a{
    text-decoration: none;
    color: #000;
}

#hebergement h4 a:hover{
    border-bottom: 2px solid #0065FC;
    color: #0065FC;
}

/* ASIDE*/
#populaires {
    width: 29%;
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
    padding: 2.5%;
    border-radius: 20px;
}

#cartes-populaires {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    height: 100%;
    box-sizing: border-box;
}

.titre-populaire {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.titre-populaire object {
    width: 20px;
    height: 20px;
}

.card2 a {
    display: flex;
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 20px rgb(226, 223, 223);
    border-radius: 20px;
    color: #333;
    text-decoration: none;
    height: 146px;
    font-size: 90%;
}

.card2-image {
    flex: 0 0 40%;
    overflow: hidden;
    position: relative;
    border-radius: 20px 0px 0px 20px;
    border: 5px solid #FFF;
}

.card2-image img {
    min-width: 100%;
    max-height: 160%;
    filter: grayscale(0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card2-body {
    display: flex;
    padding: 3%;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.card2-body h4, .card-body h4  {
    margin-top: 2%;
    margin-bottom: 0%;
}

.card2-body p {
    margin-top: 1%;
}

.card2:hover .card2-image img {
    filter: grayscale(1);
}

/*BLOC3-ACTIVITES*/
#bloc3 {
    margin-top: 4%;
    margin-bottom: 4%;
}

#activites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 60vh;
    padding: 0;
}

#bloc-gauche {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 48.5%;
    height: 100%;
    padding: 0;
}

#bloc-droite {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 48.5%;
    height: 100%;
    padding: 0;
}

.card-activites {
    background-color: white;
    box-shadow: 2px 2px 20px rgb(226, 223, 223);
    border-radius: 20px;
    position: relative;
    box-sizing: border-box;
    color: #333;
    text-decoration: none;
    width: 47%;
}

.card-activites:nth-child(1) {
    flex: 100%;
    margin-right: 6%;
}

#bloc-gauche .card-activites:nth-child(2) {
    flex: 2;
    margin-bottom: 5%;
}

#bloc-droite .card-activites:nth-child(2) {
    flex: 1;
    margin-bottom: 5%;
}

.card-activites:nth-child(3) {
    flex: 1;
}

.grand {
    height: 88%;
}

.moyen {
    height: 83%;
}

.milieu {
    height: 78%;
}

.petit {
    height: 69%;
}

.card3-image {
    overflow: hidden;
    position: relative;
    border-radius: 20px 20px 0px 0px;
    box-sizing: border-box;
}

.card3-image img {
    filter: grayscale(0);
    min-height: 100%;
    max-width: 140%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h4.card3-nom {
    box-sizing: border-box;
    padding: 5%;
    margin: 0;
}

.card3-image img:hover {
    filter: grayscale(1);
}

/* FOOTER */
footer {
    background-color: #F2F2F2;
}

#bas_page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0% auto 0 auto;
    width: 93%;
}

footer nav {
    width: 30%;
}

footer nav a {
    color: #181818;
    padding-bottom: 10px;
    text-decoration: none;
}

footer ul {
    padding: 0 0 0 0; 
    list-style-type: none;
    font-size: 13px;
}

footer nav ul a:hover {
    color: #0065FC;
}

footer nav li {
    padding-bottom: 15px;
}



